<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{[ url_for('static', filename='css/homepage.css') ]}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="{[ url_for('static', filename='js/homepage.js') ]}"></script>
<title>Home Page</title>
</head>
<body>
<div id="app">
    <div class="nav_area">
        <a class="button active brand" href="/">ユリデータ</a>
        <a class="button" href="/yuris">Yuris</a>
        <a class="button" href="/authors">Authors</a>
        <a class="button" href="/publishers">Publishers</a>
        <a class="button" href="/genres">Genres</a>
    </div>


<ul class="breadcrumb">
    <li>Home</li>
</ul>

<h2>Introduction</h2>

<p>This website is the collection of yuri sukuhins, it collects comics and novels<br/>
about yuri.
</p>

<h2>Main page</h2>

<ui>
    <li><a href="/">Home</a></li>
    <li><a href="/yuris">Yuris</a></li>
    <li><a href="/authors">Authors</a></li>
    <li><a href="/publishers">Publishers</a></li>
    <li><a href="/genres">Genres</a></li>
</ui>
</div>
<script type="application/json" id="info_json">{[info|safe]}</script>
<script type="application/json" id="moreinfo_json">{[moreinfo|safe]}</script>
</body>
</html>