<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{[ title ]}</title>
    <link rel="stylesheet" href="{[ url_for('static', filename='css/yuri.css') ]}">
    <link rel="stylesheet" href="{[ url_for('static', filename='css/homepage.css') ]}">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{[ url_for('static', filename='js/publishersakuhin.js') ]}"></script>
</head>

<body>
    <div id="app">
        <div class="nav_area">
            <a class="button brand" href="/">ユリデータ</a>
            <a class="button active" href="/yuris">Yuris</a>
            <a class="button" href="/authors">Authors</a>
            <a class="button" href="/publishers">Publishers</a>
            <a class="button" href="/genres">Genres</a>
        </div>

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/publishers">Publishers</a></li>
            <li>{[ title ]}</li>
        </ul>
    
        <!-- filter function -->
        <h3></h3>

        <table id="yuris">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody id="table-body">
                
            </tbody>
        </table>

        <div id="pagination-wrapper" class="pagination"></div>

    <div>
<script type="application/json" id="pub_saku_json">{[pub_saku|safe]}</script>
</body>
</html>