<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{[ url_for('static', filename='css/sakuhin.css') ]}">
<link rel="stylesheet" href="{[ url_for('static', filename='css/homepage.css') ]}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="{[ url_for('static', filename='js/sakuhin.js') ]}"></script>
<title>{[ title ]}</title>
</head>
<body>
<div id="app">
    <div class="nav_area">
        <a class="button brand" href="/">ユリデータ</a>
        <a class="button active" href="/yuris">Yuris</a>
        <a class="button" href="/authors">Authors</a>
        <a class="button" href="/publishers">Publishers</a>
        <a class="button" href="/genres">Genres</a>
    </div>

    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/yuris">Yuris</a></li>
        <li>{{ info.name }}</li>
    </ul>

  <a href="/">←所有百合作品</a>
  <h3>作品基本資料</h3>

  <!-- 舊版面區域 -->
  <table id="info">
    <tr><td rowspan="7"><img v-bind:src="info.main_img_url"/></td></tr>
    <tr><td>名稱</td><td>{{ info.name }}</td></tr>
    <tr><td>作者</td><td v-for="author in moreinfo.author">{{ author }}</td></tr>
    <tr><td>種類</td><td><span v-for="genre in moreinfo.genre">{{ genre }}</span><td></tr>
    <tr><td>百合</td><td>{{ info.yuri_status }}</td></tr>
    <tr><td>載體</td><td>{{ info.carrier }}</td></tr>
    <tr><td>R18</td><td v-if="info.ero">{{ r18 }}</td><td v-else>{{ nor18 }}</td></tr>
  </table>

  <!-- 新版面區域 -->
  <div class="first-row">
    <div class="main-container">
      <div class="img-col"><img v-bind:src="info.main_img_url"/></div>
      <div class="data-col">
        <div class="data-container">
          <div class="row row1">
            <div class="col col1">作品名稱</div>
            <div class="col col2">{{ info.name }}</div>
          </div>
          <div class="row row2">
            <div class="col col1">作者</div>
            <div class="col col2" v-for="author in moreinfo.author">{{ author }}</div>
          </div>
          <div class="row row3">
            <div class="col col1">種類</div>
            <div class="col col2" v-for="genre in moreinfo.genre">{{ genre }}</div>
          </div>
          <div class="row row4">
            <div class="col col1">百合</div>
            <div class="col col2">{{ info.yuri_status }}</div>
          </div>
          <div class="row row5">
            <div class="col col1">載體</div>
            <div class="col col2">{{ info.carrier }}</div>
          </div>
          <div class="row row6">
            <div class="col col1">R18</div>
            <div class="col col2" v-if="info.ero">{{ nor18 }}</div><div class="col col2" v-else>{{ nor18 }}</div>
          </div>
          <div class="row row7">
            <div class="col col1">出版社</div>
            <div class="col col2">{{ info.publisher }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-row">
    <div class="sub-container">
      <div class="row row1">
        <div class="col col1">introduction</div>
        <div class="col col2">{{ info.introduction }}</div>
      </div>
      <div class="row row2">
        <div class="col col1">出版日期</div>
        <div class="col col2">{{ toDateString() }}</div>
      </div>
      <div class="row row3">
        <div class="col col1">出版雜誌 / 出版標籤</div>
        <div class="col col2">{{ info.publish_magzine }} / {{ info.publish_label }}</div>
      </div>
      <div class="row row4">
        <div class="col col1">購買連結</div>
        <div class="col col2">
          <div class="buy-container">
            <a v-for="(buyurl, index) in moreinfo.buyurl" v-bind:href="buyurl"><button class="buy buy1"><span>{{ index + 1 }}</span></button><a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>其他單行本</h3>
  <div class="flex">
      <img v-for="tan in moreinfo.tankoubon" :src="tan" width=250px/>
  </div>
</div>
<script type="application/json" id="info_json">{[info|safe]}</script>
<script type="application/json" id="moreinfo_json">{[moreinfo|safe]}</script>
</body>
</html> 