<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Yuri Data</title>
    <link rel="stylesheet" href="{[ url_for('static', filename='css/yuri.css') ]}">
    <link rel="stylesheet" href="{[ url_for('static', filename='css/homepage.css') ]}">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{[ url_for('static', filename='js/yuri.js') ]}"></script>
</head>

<body>
    <div id="app">
        <div class="nav_area">
            <a class="button brand" href="/">ユリデータ</a>
            <a class="button" href="/yuris">Yuris</a>
            <a class="button" href="/authors">Authors</a>
            <a class="button" href="/publishers">Publishers</a>
            <a class="button" href="/genres">Genres</a>
        </div>

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Yuris</li>
        </ul>
    
        <!-- filter function -->
        <h3>百合作品</h3>
        <div class="row">
            <label>篩選</label>
        <div>
        <div class="cond">
            <div class="select">
                <label><input type="checkbox" v-model="filters.author" /> 作者</label>
                <select>
                    <option>test1</option>
                </select>
            </div>
            <div class="select">
                <label><input type="checkbox" v-model="filters.publisher"> 出版社</label>
                <select>
                    <option>test2</option>
                </select>
            </div>
            <div class="select">
                <label><input type="checkbox" v-model="filters.chkr18"> R18</label>
                <select>
                    <option>test3</option>
                </select>
            <div>
        </div>

        <div>
            <label>15</label>
            <input type="radio" value="15">15</input>
            <label>30</label>
            <input type="radio" value="30">30</input>
            <label>50</label>
            <input type="radio" value="50">50</input>
        </div>

        <table id="yuris">
            <thead>
                <tr>
                    <th v-for="info in yuriinfo">
                    <a href="#" v-on:click="" v-bind:class="">{{ info.text }}</a>
                    </th>
                </tr>
            </thead>
            <tbody id="table-body">
                
            </tbody>
        </table>

        <div id="pagination-wrapper" class="pagination">
        </div>
    
    </>
    <script type="application/json" id="yuris_json">{[yuris|safe]}</script>
</body>

</html>