body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    display: inline-block;
    /* border: 1px solid black; */
    font-size: 18px;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    margin-left: auto;
    margin-right: auto;

    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
}

.nav_area {
    /* border: 1px solid black; */
    font-size: 0px;
    background-color: #f08dae;
}

.nav_area a.brand {
    font-size: 20px;
    letter-spacing: 1px;
}

.nav_area a:hover {
    color: black;
  }

.nav_area a.active {
    color: white;
  }

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;

    /* border: 1px solid black; */
}

ul.breadcrumb li {
    display: inline-block;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
