.cond {
    float:left;
    margin-trim: 10px;
}

#yuris {
    clear: both;
    text-align: left;
    border-collapse: collapse;
}

#yuris th {
    text-align: center;
}

#yuris td {
    border: 1px solid black;
    padding: 2px 5px;
}

#yuris img {
    height: 150px;
}

a {
    font-weight: normal;
    color: blue;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;

    margin-right: auto;
}
  
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
  
.pagination a:hover:not(.active) {
      background-color: #ddd;
}