#yuris {
    clear: both;
    text-align: left;
    border-collapse: collapse;

    width: 95%;

    /* margin: 5px 5px; */
    margin-left: auto;
    margin-right: auto;
}

#yuris th {
    text-align: center;
}

#yuris td {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    /* padding: 8px 8px; */
    padding: 2px 5px;
}

#yuris img {
    height: 150px;
    text-align: center;
}

#yuris a {
    text-decoration: none;
    color: black;
}

#yuris a:hover {
    color: #757575;
    text-decoration: underline;
}

.pagination {
    float: right;
 }
 
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;

    margin-right: auto;
    margin-left: auto;
}
  
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
  
.pagination a:hover:not(.active) {
      background-color: #ddd;
}